@model IEnumerable<PCAssembly.Component>

@{
    ViewData["Title"] = "Главная страница";
}

<div class="container">
    <div class="text-center">
        <h1 class="display-4">Добро пожаловать в PC Assembly!</h1>
        <p>Просмотрите список доступных компонентов ниже:</p>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Название</th>
                <th>Описание</th>
                <th>Цена</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Description</td>
                    <td>@item.Price</td>
                </tr>
            }
        </tbody>
    </table>
</div>
